<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E4U Entertainment"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.MyApplication" >
        <activity
            android:name="com.example.myapplication.TimingsScreen"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.ReviewsScreen" />
        <activity
            android:name="com.example.myapplication.UserProfile"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.SelectionPage" />
        <activity
            android:name="com.example.myapplication.PaymentComplete"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.PaymentPage" />
        <activity
            android:name="com.example.myapplication.SelectionPage"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.MainActivity" />
        <activity
            android:name="com.example.myapplication.ReviewsScreen"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.SelectionPage" />
        <activity
            android:name="com.example.myapplication.Bookseats"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.TimingsScreen" />
        <activity
            android:name="com.example.myapplication.PaymentPage"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.Bookseats" />
        <activity
            android:name="com.example.myapplication.EmailidVerification"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.ForgotPassword" />
        <activity
            android:name="com.example.myapplication.ForgotPassword"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.MainActivity" />
        <activity
            android:name="com.example.myapplication.signupScreen"
            android:exported="false"
            android:parentActivityName="com.example.myapplication.MainActivity" />
        <activity
            android:name="com.example.myapplication.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>